/* .section-title h2 {
    cursor: pointer;
    margin-right: 20px;
    transition: opacity 0.3s;
}
*/
/* .section-title h2:not(.active) {
    opacity: 0.5;
} */

.secondary-color {
    color: #000;
}

.opacity-50 {
    opacity: 0.5;
}

.section-title-2 {
    font-size: 3rem;
}

@media only screen and (max-width: 767px) {


    .section-title-2 {
        font-size: 2rem;
    }
}
.pagination {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
}

.pagination button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
}
.pagination button.active {
    color: white;
    background: #004A18;
}

.center-loading {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}