.blogs_wrapper .article-chips {
  background-color: #ccd9ce;
  padding: 0.7rem 1rem;
  width: fit-content;
  height: fit-content;
  line-height: 1;
}

.blogs_wrapper .articles-tab .article-chips:nth-child(2) {
  margin-left: auto !important;
}

.blogs_wrapper .flex-row-tab-btns {
  margin-left: auto;
}

.blogs_wrapper .article-chips.active {
  background-color: var(--highlight-color) !important;
}

.blogs_wrapper .article-chips.active h2 {
  color: var(--white-color) !important;
}

.blogs_wrapper .article-chips h2 {
  color: var(--highlight-color);
  font-size: 1.25rem !important;
}
