#reecosys-list-wrapper {
  padding: 6rem 0;
}

.completed_projects_wrapper .filterroowow li.active h4 {
  color: var(--secondary-color) !important;
}

@media only screen and (max-width: 767px) {

  .completed_projects_wrapper .filterroowow .section-subtitle h4,
  .completed_projects_wrapper .filterroowow .section-subtitle h4 span {
    font-size: 1.45rem;
    font-family: var(--semibold-font-family);
    color: var(--primary-color);
  }
}