#reecosys-main-wrapper-terms {
  padding: 10rem 0;
}

#reecosys-main-wrapper-terms h1 {
  font-size: 40px;
  line-height: 60px;
}

#reecosys-main-wrapper-terms p,
#reecosys-main-wrapper-terms li p,
#reecosys-main-wrapper-terms li {
  font-size: var(--content-font-size);
  line-height: 1.5;
}

/* #reecosys-main-wrapper-terms h2 {
      font-size: 32px;
      line-height: 48px;
      margin: 1rem 0;
    }
  
    #reecosys-main-wrapper-terms h3 {
      font-size: 24px;
      line-height: 36px;
    }
  
    #reecosys-main-wrapper-terms h4 {
      font-size: 20px;
      line-height: 30px;
    }
  
    #reecosys-main-wrapper-terms h3,
    #reecosys-main-wrapper-terms h4 {
      font-weight: 700;
      margin: 1rem 0;
    }
   */
#reecosys-main-wrapper-terms ul {
  padding-left: 1rem;
  list-style-type: disc;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.25rem;
  margin: 1.5rem 0;
}
#reecosys-main-wrapper-terms ol {
  list-style: decimal;
  padding-left: 2.5rem;
}
#reecosys-main-wrapper-terms ol li {
  padding-top: 1.5rem;
}

#reecosys-main-wrapper-terms a {
  color: #0452a5;
}
#reecosys-main-wrapper-terms h1,
#reecosys-main-wrapper-terms h2 {
  font-weight: 700;
}
#reecosys-main-wrapper-terms .link-padding {
  padding-top: 1.5rem;
}

@media only screen and (max-width: 767px) {
  #reecosys-main-wrapper-terms {
    padding: 5rem 0;
  }
  #reecosys-main-wrapper-terms ol {
    padding-left: 1.5rem;
  }
  #reecosys-main-wrapper-terms h1 {
    font-size: 27px;
    line-height: 30px;
  }
}
